@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

/* carousel buttons */

/* hover and dropdown box */
.more-options:hover .down-arrow {
  transform: rotate(180deg);
}

/* transition */
.custome-transition {
  transition: all 0.2s ease-in-out;
}
