.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% / 1.6) - 10px);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* .swiper-button-next {
    position: absolute;
    top: 90%;
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #515151dc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 20px;
    font-weight: 600;
    color: rgb(197, 194, 194);
  }
  
  .swiper-button-prev:active,
  .swiper-button-next:active {
    transform: scale(0.9);
  }
  .swiper-button-prev {
    left: 80%;
  }
  
  .swiper-button-next {
    right: 13%;
  } */
