.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* prev and next buttons */

.swiper-big-button-prev,
.swiper-big-button-next {
  position: absolute;
  top: 66.5%;
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #51515131;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.swiper-big-button-prev:active,
.swiper-big-button-next:active {
  transform: scale(0.8);
}
.swiper-big-button-prev {
  left: 82%;
}

.swiper-big-button-next {
  right: 11%;
}
